
h1{
    border: solid rgb(12, 117, 112) 2px;
    border-width: 1px;
    animation: move 10s infinite;
    position: relative;


}
.project{
    display:block;
}
.game,.todo,.maths,.copy{
    border: solid white;
    width: 480px;
    display: inline-block;
    height: 300px;
    border-radius: 20px;
    margin: 0.3cm;
    border-color: rgb(12, 117, 112);
    margin-left: 2%;
    margin-top:50px;
    animation: project 2s ease-in-out;
}

h2{
    color: aliceblue;
    font-size: 55px;
    text-align: center;
    filter: brightness(80%);
}

p{
    color: rgb(255, 255, 255);
    font-size: 2.5vh;
    padding: 3px;
    margin-left:1%;
    margin-top: 1%;
}

@keyframes move{
    from{
       transform: translateY(0px);
    }
    to{
        transform: translateY(936px);
    }
}
@keyframes project{
    from{
        transform: translateX(-1000px);
    }
    to{
        transform: translateX(0px);
    }
}
h3{
    color: rgb(28, 192, 192);
    font-size: 1.6vw;
    margin-left:10px;
}
